.hover-link:hover{
    color:#0167F3!important
}
.hover-bg:hover{
    background:#0167F3!important;
    color:#fff;
    transition: all .3s;
}
.white-hover:hover{
    background:#fff!important;
    transition: all .3s;
}

.accordion-button.collapsed > .lni{
    color :#000!important
}
.accordion-button .lni{
    color :#fff!important
}
