@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";



:root{
    --primaryColor:#000;
    --secondaryColor:#000;
    --tertiaryColor:#000;
    --blackColor:#000;
    --whiteColor:#fff042;
    --primaryFont:"Inter", sans-serif;
    --secondaryFont:"Arimo", sans-serif;
}

